{%extends "base.html"%}
{% load staticfiles %}
{%block main%}
<div class="slider"></div>
<main>
<div class="margintop">
	<h2>Почему стоит выбрать нас</h2>
	<div class="flex fiveInARow">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div class="margintop">
	<h2>Лидеры продаж</h2>
	<div class="flex fiveInARow">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div class="margintop">
	<h2>Наши клиенты</h2>
	<div class="flex fiveInARow">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div style="font-size: 20em" class="margintop">
	отзывы
</div>
</main>
{%endblock main%}