{%extends "base.html"%}
{% load staticfiles %}
{%block main%}
<div class="slider"></div>
<main>
<div class="elements">
	<div class="card">
		<a href="catalog">			
		<h2>Дома</h2>
		<img src="{% static 'jpg\0.jpg' %}" alt="">
		<h3>от 100 000 руб</h3>
		<h3>гарантия: 1 год</h3>
		<h3>срок: 2 недели</h3>
		<button>Выбрать проект</button>
		</a>
	</div>
	<div class="card">
		<h2>Бытовки</h2>
		<img src="{% static 'jpg\0.jpg' %}" alt="">
		<h3>от 100 000 руб</h3>
		<h3>гарантия: 1 год</h3>
		<h3>срок: 2 недели</h3>
		<button>Выбрать проект</button>
	</div>
	<div class="card">
		<h2>Бани</h2>
		<img src="{% static 'jpg\0.jpg' %}" alt="">
		<h3>от 100 000 руб</h3>
		<h3>гарантия: 1 год</h3>
		<h3>срок: 2 недели</h3>
		<button>Выбрать проект</button>
	</div>
	<div class="card">
		<h2>Печи и дымоходы</h2>
		<img src="{% static 'jpg\0.jpg' %}" alt="">
		<h3>от 100 000 руб</h3>
		<h3>гарантия: 1 год</h3>
		<h3>срок: 2 недели</h3>
		<button>Выбрать проект</button>
	</div>
	<div class="card">
		<h2>Посты охраны</h2>
		<img src="{% static 'jpg\0.jpg' %}" alt="">
		<h3>от 100 000 руб</h3>
		<h3>гарантия: 1 год</h3>
		<h3>срок: 2 недели</h3>
		<button>Выбрать проект</button>
	</div>
	<div class="card">
		<h2>Модульные здания</h2>
		<img src="{% static 'jpg\0.jpg' %}" alt="">
		<h3>от 100 000 руб</h3>
		<h3>гарантия: 1 год</h3>
		<h3>срок: 2 недели</h3>
		<button>Выбрать проект</button>
	</div>
	<div class="card">
		<h2>Сантехнические блок-контейнеры</h2>
		<img src="{% static 'jpg\0.jpg' %}" alt="">
		<h3>от 100 000 руб</h3>
		<h3>гарантия: 1 год</h3>
		<h3>срок: 2 недели</h3>
		<button>Выбрать проект</button>
	</div>
	<div class="card">
		<h2>Аренда</h2>
		<img src="{% static 'jpg\0.jpg' %}" alt="">
		<h3>от 100 000 руб</h3>
		<h3>гарантия: 1 год</h3>
		<h3>срок: 2 недели</h3>
		<button>Выбрать проект</button>
	</div>
</div>
</main>
{%endblock main%}